body {
  font-family: sans-serif;
}
.main-content {
  padding: 20px;
  border: 1px solid #a7d7f9;
  border-top: 0;
}

.sidebar-nav{
  list-style: none;
  padding: 0;
}

.well {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px 30px;
  border-radius: 0;
}
.well h3 {
  margin-top: 0;
  font-size: 22px;
}
.well p {
  margin-bottom: 0;
}
.well-nav-list {
  margin-top: 5px;
}
.well-nav-list ul {
  padding: 0;
}

.panel{
  border-radius: 0;
}

.green-col {
  padding-right: 2px;
}

.green-bg {
  background-color: #f5fffa;
}

.green-bg .panel-heading {
  background-color: #cef2e0;
  color: black;
  border: 1px solid #a3bfb1;
}

.panel-primary {
  background-color: #f5faff;
}
.panel-heading .panel-title {
  font-weight: bold;
}

.blue-col {
  padding-left: 2px;
}

.panel-heading {
  margin: 10px;
  padding: 5px 15px;
  border-radius: 0;
}
.panel-body ul{
  padding-left: 10px;

}
.logo {
  margin-bottom: 30px;
}
